{% extends "base.html" %}

{% block title %}
DataFlow
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="text-center">

        <h1 class="display-4 fw-bold">
            DataFlow
        </h1>

        <p class="lead mt-3">
            Secure API ETL & Analytics Platform
        </p>

        <hr>

        <h4 class="mt-4">
            🚀 Phase 1 Completed Successfully
        </h4>

        <p>
            Flask Application is Running.
        </p>

    </div>

</div>

{% endblock %}